/*affect all*/
body{
    font-family: "Rubik", serif !important;
}

.container{
    margin: 0;
}

/*components*/
.primary-text{
    color: white !important;
}

.secondary-text{
    color: #293660 !important;
}

.ghost-color{
    color: #6D6D6D !important;
}

::placeholder {
    color: #C5C5C5 !important;
    opacity: 1; 
  }
  
  ::-ms-input-placeholder { 
    color: #C5C5C5 !important;
  }

.bg-image {
    background-size: cover;
    min-height: 100vh;
}

h1 {
    font-size: 50px !important;
    font-weight: 800 !important;
}

h2{
    font-size: 46px !important;
    font-weight: 700 !important;
}

h3 {
    font-size: 26px !important;
    font-weight: 600 !important;
}

h4 {
    font-size: 22px !important;
    font-weight: 600 !important;
}

h5 {
    font-size: 30px !important;
    font-weight: 500 !important;
}

a {
    text-decoration: none !important;
    color: white !important;
}

.required:after {
    content:" *";
    color: red;
  }

.btn-primary-custom {
    background-color: #04BE02 !important;
    height: 54px !important;
    width: 217px !important;
    border-radius: 0 !important;
    border: none !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    color: white !important;
}

.btn-primary-custom a{
    font-weight: 600;
    font-size: 20px;
}

/* navbar section */
.top-bar{
    background-color: #00008E;
}

.top-bar a{
    font-size: 20px !important;
    font-weight: 500;
}

.nav-bar{
    background: linear-gradient(180deg, #F9FAFE 0%, rgba(249, 250, 254, 0.44) 100%);
    box-shadow: 0px 2px 25px 0px #00008E27;
}

/* Hero section */
.jumbotron .text-container {
    max-width: 800px;
}

.jumbotron .text-container h5{
    max-width: 700px;
}

.jumbotron .btn{
    display: inline-flex;
    overflow: hidden;
    padding: 0;
    border: none;
    outline: none;
    width: 271px !important;
}

.jumbotron .btn-label,.btn-text{
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.jumbotron .btn-text{
    padding: 0 53px;
}

.jumbotron .btn-label{
    background-color: #018000;
    margin-right: 0px;
    padding: 0 22px;
}

/* form section */
.form-container {
    background-color: white;
}

form .ghost-color{
    font-weight: 500;
    font-size: 18px;
}

form .btn-primary-custom{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* about us section */
.about-us {
    max-width: 470px;
}

.about-us p {
    color: #6C646A !important;
    font-size: 18px;
}

/* advantage section */
.advantage .card{
    height: 510px;
    border-radius: 0 !important;
    box-shadow: 0px 2px 25px 0px rgba(0, 0, 142, 0.15);

}

.advantage h3{
    font-weight: 700 !important;
}

/* features section */
.features .text-container{
    max-width: 327px;
    font-size: 17px;
}

.features h3 {
    max-width: 327px;
}

/* value section */
.value h2 {
    font-weight: 800;
    max-width: 700px;
}

.value p {
    font-size: 28px;
    font-weight: 500;
}

.value .text-container{
    max-width: 874px;
}

.value img {
    margin-right: 15px;
}
.bg-value {
    min-height: 70dvh !important;
}

/* customer section */
.overlap-box {
    background-color: #293660; /* Warna biru */
    color: white;
    text-align: center;
    position: relative;
    margin-top: -50px; /* Overlap ke Value Section */
    z-index: 2;
    box-shadow: 0px 2px 25px 0px rgba(0, 0, 142, 0.15);
    max-width: 1000px;
    
}

.overlap-box h2{
    margin-bottom: 0;
}

.customer-section {
    background-color: #F9FAFE;
}
.customer-logos {
    text-align: center;
    gap: 90px;
}

/* explore section */
.explore .card{
    border: none;
    border-radius: 0 !important;
    box-shadow: 0px 2px 25px 0px rgba(0, 0, 142, 0.15);
    max-width: 380px;
    max-height: 305px;
}

.explore h2 {
    font-weight: 800 !important;
}

.explore h3 {
    font-weight: 500 !important;
    font-size: 28px !important;
    color: #19456B !important;
}

/* footer section */
footer {
    background: linear-gradient(135deg, rgb(0, 0, 142) 0%, rgb(4, 190, 2) 100%);
    overflow: hidden;
}

footer h3 {
    font-weight: 700 !important;
    font-size: 28px !important;
}

footer p {
    font-size: 20px;
    font-weight: 400;
}

footer span {
    font-weight: 700;
}

.footer-bottom {
    background-color: #000A85;
}

.footer-bottom p {
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 400;
}

footer .px-5 {
    padding-left: 200px !important;
    padding-right: 200px !important;
}

.left-section {
    position: relative;
    z-index: 1;
}
/* thank you section */
.thankyou .btn-primary-custom{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.thankyou p{
    font-size: 22px;
    font-weight: 600;
}

.thankyou .btn{
    width: 280px !important;
}

@media (max-width: 768px) {
    
    
    footer .px-5 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .right-section img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        
        opacity: 0.1; /* Mengurangi opacity agar teks tetap terlihat jelas */
    }

    footer {
        text-align: center;
    }
}
